<h1 mat-dialog-title>Add Attribute Group</h1>
<form [formGroup]="angForm" novalidate>
  <mat-form-field>
    <input matInput type="text" class="form-control" formControlName="name" #name placeholder="Attributegroup Name" />
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" class="form-control" formControlName="description" #description placeholder="Description" ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select Sub-Category" formControlName="subCategoryId" #subCategoryId>
      <mat-option *ngFor="let subcategory of subcategories " [value]="subcategory.id">
        {{subcategory.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="form-group">
    <!--DONT FORGET TO PUT VALUES ON CLICK FUNCTION-->
    <button mat-raised-button color="primary" (click)="addAttributeGroup(name.value, description.value, subCategoryId.value); onNoClick()"
            [disabled]="angForm.pristine || angForm.invalid || loading"
            class="btn btn-primary">
      Add AttributeGroup
    </button>
    <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>
