<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <!--<th>SubCategory</th>-->
      <th>Name</th>
      <th>DateCreated</th>
      <th>DateUpdated</th>
      <th>Edited by</th>
      <th>Version</th>
      <th>Published</th>
      <th>Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let productInfo of productData ">
      <td>{{ productInfo.productID }}</td>
      <!--<td>{{ productInfo.subCategory.subcategoryName}}</td>-->
      <td>{{ productInfo.productName }}</td>
      <td>{{ productInfo.dateCreated | date:'d/M/y, h:mm a' }}</td>
      <td>{{ productInfo.dateUpdated | date:'d/M/y, h:mm a' }}</td>
      <td>{{ productInfo.editedBy }}</td>
      <td>{{ productInfo.version }}</td>
      <td>{{ productInfo.publishedStatus }}</td>
      <td>
        <a (click)="editRecord(productInfo)">Edit</a><br />
        <a (click)="deleteRecord(productInfo)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
