<div class='container fluid' id="main_container">
  <div class="row">
    <div class="col-md-2">
      <app-category-get></app-category-get><br />
      <app-subcategory-get></app-subcategory-get>
    </div>
    <div class="col-md-8">
      <div><h1>Products</h1></div><br /><div><button class="btn btn-info" [routerLink]='["/product/create"]' (click)='collapse()'>
  <i class="fa fa-plus-square"></i> Create Product
</button></div><br />
      <app-product-get></app-product-get>
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>
