<div class='container-fluid' id="main_container">
  <div class="row">
    <div class="col-md-2">
      <app-category-get></app-category-get><br />
      <app-subcategory-get></app-subcategory-get><br />
    </div>
    <div class="col-md-8">
      <h1>Products</h1><br /><button mat-raised-button [routerLink]='["/product/create"]' >
        <i class="fa fa-plus-square"></i> Create Product
      </button><br /><br />
      <app-product-get></app-product-get>
    </div>
    <div class="col-md-2">
      <app-attributegroup-get></app-attributegroup-get><br />
      <app-attribute-get></app-attribute-get>
    </div>
  </div>
</div>
