<div class='container-fluid' id="main_container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h1>Add Product</h1><br />
        <form [formGroup]="angForm" novalidate>
          <div class="form-group">
            <label class="col-md-4">Name</label>
            <input type="text" class="form-control" formControlName="productName" #productName />
          </div>
          <div *ngIf="angForm.controls['productName'].invalid && (angForm.controls['productName'].dirty || angForm.controls['productName'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['productName'].errors.required">
              A Product name is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">SubCategory</label>
            <select formControlName="subCategoryId" #subCategoryId>
              <option value="{{ subCategory.id}}" *ngFor="let subCategory of subcategories ">
                {{ subCategory.name}}
              </option>
            </select>
          </div>
          <div *ngIf="angForm.controls['subCategoryId'].invalid && (angForm.controls['subCategoryId'].dirty || angForm.controls['subCategoryId'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['subCategoryId'].errors.required">
              A SubCategory is required
            </div>
          </div>

          <div class="form-group">
            <!--DONT FORGET TO PUT VALUES ON CLICK FUNCTION-->
            <button (click)="addProduct(productName.value, subCategoryId.value)"
                    [disabled]="angForm.pristine || angForm.invalid || loading"
                    class="btn btn-primary">
              Add Product
            </button>
            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </form>
    </div>
    <div class="col-md-2">
      Information
    </div>
  </div>
</div>
