<h1>Add Account</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Account Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="formcontainer">
        <mat-form-field>
          <input matInput type="text" placeholder="First Name" class="form-control" 
          formControlName="firstName" #firstName [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        </mat-form-field>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
        <mat-form-field>
          <input matInput type="text" placeholder="Last Name" class="form-control" 
          formControlName="lastName" #lastName [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        </mat-form-field>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
        <mat-form-field>
          <input matInput type="text" placeholder="User Name" class="form-control" 
          formControlName="username" #username [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        </mat-form-field>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">User Name is required</div>
        </div>
        <mat-form-field>
          <input matInput type="email" placeholder="Email" class="form-control" 
          formControlName="email" #email [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        </mat-form-field>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" class="form-control" 
          formControlName="password" #password [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        </mat-form-field>
        <mat-hint>Atleast 6 characters</mat-hint>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        <!--These should be in a dropdownlist in account menu selection and based on roles-->
      <!--<div class="form-group">
      <label class="col-md-4">Role</label>
      <select formControlName="roleId" #roleId>
        <option value="{{ role.roleid}}" *ngFor="let role of users ">
          {{ role.userRoles.role}}
        </option>
      </select>
    </div>-->
        <br />
      </div>
      <mat-card-actions>
          <button mat-raised-button [disabled]="loading" (click)="updateProduct(productName.value, subCategoryId.value)">
            Create Account
          </button>
        </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>