<div class="formcontainer">
  <h1 mat-dialog-title>Add Attribute<br><span style='color:darkgray;font-weight: bold'><small>&raquo; {{data.agName}}</small></span></h1>
  <form [formGroup]="angForm" novalidate>
    <input type="hidden" formControlName="attributegroupId" #attributegroupId value="{{data.agId}}" />
    <mat-form-field>
      <input matInput type="text" formControlName="name" #name placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput type="text" formControlName="description" #description placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedValue" formControlName="type" #type placeholder="Type" [value]="type">
        <mat-option value="text">
          Text
        </mat-option>
        <mat-option value="number">
          Number
        </mat-option>
        <mat-option value="yesno">
          Yes/No
        </mat-option>
        <mat-option value="textbox">
          Textbox
        </mat-option>
        <mat-option value="list">
          List
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <!--DONT FORGET TO PUT VALUES ON CLICK FUNCTION-->
    <button mat-raised-button color="primary" (click)="addAttribute(
      attributegroupId.value,name.value, description.value, type.value); onNoClick()">
      Add Attribute
    </button>
  </form>
  <form [formGroup]="angFormValue" novalidate>
    <!-- If list i chosen there should be a way to add values in attribute modal-->
    <div *ngIf="selectedValue == 'list'">
      <mat-form-field>
        <input matInput type="text" placeholder="List"
               formControlName="value"
               #value />
        <mat-hint>Fill out the list * value,value,value</mat-hint>
      </mat-form-field>
    </div><br />
  </form>
</div>
