<div class="formcontainer">
  <h1 mat-dialog-title>Add Attribute<br><span style='color:darkgray;font-weight: bold'><small>&raquo; {{data.agName}}</small></span></h1>
  <form [formGroup]="angForm" novalidate>
      <input type="hidden" formControlName="attributegroupId" #attributegroupId value="{{data.agId}}"/>
    <mat-form-field>
      <input matInput type="text" formControlName="name" #name placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <textarea matInput type="text" formControlName="description" #description placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="type" #type placeholder="Type" [value]="type">
        <mat-option value="text">
          Text
        </mat-option>
        <mat-option value="number">
          Number
        </mat-option>
        <mat-option value="yesno">
          Yes/No
        </mat-option>
        <mat-option value="textbox">
          Textbox
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text" formControlName="productattributevalueId" #productattributevalueId placeholder="Attribute Value" />
    </mat-form-field>
   <!--  <div [ngSwitch]="typevar">
      <div *ngSwitchCase="'text'">
        <mat-form-field>
          <input matInput type="text" placeholder="Text Field" [value]="productattributevalueId"/>
          <mat-hint>For single lined text</mat-hint>
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'number'">
        <mat-form-field>
          <input matInput type="number" placeholder="Number Field" [value]="productattributevalueId" />
          <mat-hint>For numbers (price, sizes etc)</mat-hint>
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'yesno'">
        <mat-radio-group [value]="productattributevalueId">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group><br />
        <mat-hint>For yes and no values</mat-hint>
      </div>
      <div *ngSwitchCase="'textbox'">
        <mat-form-field>
          <textarea matInput type="text" placeholder="Textbox" [value]="productattributevalueId"></textarea>
          <mat-hint>For larger description of an attribute</mat-hint>
        </mat-form-field>
      </div>
    </div><br /> -->
    <!--DONT FORGET TO PUT VALUES ON CLICK FUNCTION-->
    <button mat-raised-button color="primary" (click)="addAttribute(
      attributegroupId.value,name.value, description.value, type.value, productattributevalueId.value); onNoClick()">
      Add AttributeGroup
    </button>
  </form>
</div>
