nav {
  background-color: ghostwhite;
}
.navbar-nav .nav-item .nav-link {
  color: darkgray;
}

.navbar-nav .nav-item:hover .nav-link {
  color: lightblue;
}
.centericon{
  align-self:center;
  align-content:center;
  align-items:center;
  text-align:center;
}
