<div class='container-fluid' id="main_container">
  <div class="row">
    <div class="col-md-2">
      <h5>Current Users</h5>
      <ul>
        <li *ngFor="let user of users">
          {{user.id}}
          {{user.username}} ({{user.firstName}} {{user.lastName}})
          - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
          <a (click)="getUser(user.id)" class="text-danger">Edit</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <h1>Accounts</h1><br />
      <app-register-user></app-register-user>
    </div>
    <div class="col-md-2">
      Information
    </div>
  </div>
</div>

