<h1 mat-dialog-title>Add Values to {{data.apName}} attributes<br />
  <span style='color:darkgray;font-weight: bold'><small>&raquo; {{data.apSC}}</small></span></h1>
  <div class="container">
  <div class="row">
  <div class="col-sm content-divider">
    <form [formGroup]="angForm" novalidate>
      <input type="hidden" value="{{data.apId}}" formControlName="productId" #productId />
      <mat-form-field>
        <mat-select placeholder="Select Attribute" formControlName="productattributeId" #productattributeId >
          <mat-option *ngFor="let att of attributes " [value]="att.id">
            {{att.name}}
          </mat-option>
        </mat-select>
      </mat-form-field><br />
      <mat-form-field>
        <input matInput type="text" class="form-control" formControlName="value" #value placeholder="Attribute Value" />
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" (click)="addAttributeValue(productId.value, productattributeId.value, value.value)">
        Add Attribute With Value
      </button>
    </form>
  </div>
  <!--AttributeValues goes here-->
  <div class="col-sm">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Value</th>
            </tr>
          </thead>

          <tbody>
              <span *ngFor="let productvalue of productvalues">
              <tr *ngFor="let s of productvalue.productAttributeValues">
                  
                  
                      <td  >{{s.value}}</td>
                   
               </tr>
              </span>
          
            
          </tbody>
        </table>
  </div>
</div>
</div>

