<div class='container' id="main_container">
  <div class="row">
    <div class="col-md-6" style="margin-top:120px;">

        <span id="title_home">KingPim</span>&nbsp;&nbsp;&nbsp;by <a href="#" id="curse_come" style="font-style:italic;">Royalty Systems</a><br>
        <p>
          These are the voyages of the Starship Enterprise. Its continuing mission, to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no one has gone before.
        </p>
        <p>
          Resistance is futile. --<span style="font-style: italic">management</span>
        </p>
        <mat-divider></mat-divider><br>
    </div>
    <div class="col-md-6">
        <img src="../../assets/img/pim-system.png" alt="pim">
      <div style="background-color:red" *ngIf="isAdmin">Admin</div>
    </div>
  </div>
</div>
