
<div class='container-fluid' id="main_container">
  <div class="row">
    <div class="col-md-3">
      <app-main-catalog [categoryData]='categoryData'></app-main-catalog>
      <app-main-catalog [subcategoryData]='subcategoryData'></app-main-catalog>
    </div>
    <div class="col-md-6">
      <h1>Main Catalog</h1><br />
      <app-show-all-products [productData]='productData'></app-show-all-products>
     


    </div>
    <div class="col-md-3">
      Information
    </div>
  </div>
</div>













